<!DOCTYPE html>
<html lang="ch">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="../js/vue.js"></script>
</head>
<body>
<div id="app">
    <p>当个复选框</p>
    <label>
        <input type="checkbox" id="checkbox" v-model="checked">
    <label for="checkbox">{{checked}}</label>
    </label>
    <p>多个复选框</p>
    <label>
        <input type="checkbox" id="Runood" value="runood" v-model="checkedNames">
        <label for="Runood"></label>
        <input type="checkbox" id="google" value="google" v-model="checkedNames">
        <label for="google"></label>
        <input type="checkbox" id="alibaba" value="alibaba" v-model="checkedNames">
        <label for="alibaba"></label>
        <br>
        <span>选择的值为{{checkedNames}}</span>
    </label>
</div>
<script>
    new Vue({
        el:'#app',
        data:{
            checked:false,
            checkedNames:[]
        }
    })
</script>
</body>
</html>